/*variables*/

:root{
  --font-family: Lato, sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body{
  background-color: black;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: var(--secondary-color);
}
body{
  font-family: var(--font-family);
}

/*nav-bar*/
nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}
nav h1{
  color:var(--primary-color);
  cursor: pointer;
}

nav a:hover{
  color:var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul{
  display: flex;
  gap:1.9rem;
}
nav ul li{
  font-weight: var(--bold-font);
}

.burger-menu {
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/*Hero Section*/
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

  .hero img {
    height: 22rem;
    width: 20rem;
  }

.bio{
  background: transparent;
  width: 25rem;
  padding: 0.625rem;
  border-radius: 2px;
  box-shadow: 0px 2px 5px var(--primary-shadow);
      filter: drop-shadow(3px 2px 4px #121212);

}
.bio-title{
    text-align: center;
    color: white;
  }
.bio h1{
  margin-bottom:  var(--bottom-margin);
}
.bio p{
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: white;

}

.resume p{
  color: #8b8eaf;
  position: absolute;
  bottom:6px;
}
.resume .download-icon{
  position: absolute;
  width: 35px;
  height: 25px;
  margin-left: 107px;
  bottom: 15px;
  cursor: pointer;
}

/*More About*/

.more-about{
  background: transparent;
  padding:  1rem 6rem;
  color: #fff;
  margin-top: 2rem;
  
}

.more-about h2{
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p{
  line-height: var(--line-height);
  padding: 0.4rem;
  
}
/*More about ends*/

/* Skills section*/
.skills{
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  
}
.skills h2{
  color: white;
}
.skill-header{
  margin-bottom: 1rem;
}

.skills-wrapper img{
  background-color: black;
  padding:  1.25rem;
  height: 11.25rem;
}
/*Skills section ends*/

.certificates{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.certificates{
  width: 50%;
  background-color: transparent;
  margin: auto;
  padding: 2%;
  box-shadow: 0 3px 5px var(--primary-shadow);
  filter: drop-shadow(3px 2px 4px #121212);
}
.certificate h2{
   color: white;
   text-align: center;
   margin-bottom: 2rem;
   margin-top: 11%;
}
.swiper{
  width: 90%;
}
.swiper-slide img{
  width: 100%;
  border-radius: 6px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: lightgrey;
} 
.swiper .swiper-pagination-bullet-active{
  background: black;
  
}


/*Project section*/
.projects{
  max-width: 78.75rem;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  padding:50px 0px;
  
}

.projects h2{
  margin: 20px;
  color: white;

}
.project-card{
  width: 400px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  margin: 40px;
}

.project-title{
  text-align:center;
  margin: 10px;
}
.project-details{
  font-size: 15px;
  font-display:var(--line-height);
  text-align: center;
  margin:20px;
}
.project-link{
  color: green;
  font-size: 18px;
}
.contact-title{
  text-align: center;
}
.contact-title h2{
  display:flex;
  justify-content: center;
  align-items: center;
}
.project-pic{
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 2px 5px var(--primary-shadow);
  transition: transform 1s;
}

.projects p, h3{
  color: white;
}
.button{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border:#8b8eaf;
  background-color:#4756df;

}
.button .project-link{
  color: black
}
.project-pic:hover{
  transform: translateY(-10px);
}

.button:hover{
  background-color: blue;
  box-shadow:  0px 2px 15px var(--primary-shadow);
}
/*Contact Section*/

.contact{
  background-color: #404040;
  width: 540px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 92%;
  border-radius: 4px;
  padding: 46px 30px;
}
.contact h2{
  letter-spacing: 6px;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
  color: white;
}
.contact-form label{
  display: block;
  padding: 10px;
  color: white;
}
.contact-form .input-field{
  width: 440px;
  height: 40px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.submit-btn-style{
  text-align: center;
}
.submit-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: transform 1s;
  margin-top: 20px;
  background-color: #4756df;
  color: white;
}
.submit-btn:hover{
  background-color: blue;
}
/*Social accounts - Fixed to the right*/
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* Social button ends */
  
/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}
.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */
  
/* Footer section */
footer {
  background-color:	#202020;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
footer p{
  color: white;
}
footer a{
  color: var(--primary-color);
}
footer span{
  color: red;
}
/* Footer section ends */
  
/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 5px var(--secondary-shadow);
    filter: drop-shadow(3px 2px 4px #121212);
  padding: 20px;
  margin: 10px;
}
.project-card {
  background-color: black;
  border-radius: 11px;
  box-shadow: 0 3px 5px var(--primary-shadow);
  filter: drop-shadow(3px 2px 4px #121212);
  padding: 20px;
  margin: 10px;
}

.reveal{
  position: relative;
  transform: translateY(5px);
  opacity: 0;
  transition: 0.5s all ease;
}

.reveal.active{
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-100%);
}


@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}






/* Media queries for responsiveness */
@media only screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: #000;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  
  nav ul li {
    margin: 8px;
  }
  
  .burger-menu {
    display: block;
  }
  
  nav ul.show {
    transform: translateX(0);
  }
  
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }
  
  
  .bio {
    margin-top: 4rem;
    width: 20.5rem;
  }
  
  .more-about {
    margin-top: 2rem;
    padding: 1rem 1.6rem;
  }
  
  .more-about h2 {
    text-align: center;
  }
  
  
  
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
 
.certificates{
  width: 80%;
} 
 
  .projects-container {
    flex-direction: column;
   
  }
  
  .project-container {
    width: 20.875rem;
  }
  
  .contact-form-container {
    max-width: 20.75rem;
  }
  .contact-form .input-field{
    width: 389;
  }
  

}

@media screen and (max-width: 420px) {
   .hero {
    margin-top: 1.8rem;
    flex-direction: column;
    gap: 0;
  }
  
  .hero img {
    height: 23rem;
    width: 20rem;
  }
  
  .bio {
    width: 18.3rem;
  }

  .certificates{
  width: 80%;
} 
  
  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }

.contact-form .input-field{
  width: 277px;
}

  
}
